/* Põhiline reset ja paigutus */

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Paindlik konteiner */

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 60px;
}

/* Kohandused väiksematele ekraanidele */

@media (max-width: 768px) {
  .banner {
    height: 150px;
  }

  .container {
    padding: 10px;
    flex-direction: column;
  }

  .chatbot {
    width: 100%;
    margin: 10px 0;
  }
}

/* Paigutuse kood */

#flat-chat {
  height: 96vh;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  border: none;
}

/* Mobiililaitteet */
@media (max-width: 767px) {
  #flat-chat {
    width: 100vw;
  }
}

/* Tabletit */
@media (min-width: 768px) and (max-width: 1023px) {
  #flat-chat {
    width: 96vw;
  }
}

/* Laptopit */
@media (min-width: 1024px) and (max-width: 1199px) {
  #flat-chat {
    width: 88vw;
  }

  div.vfrc-assistant-info.c-jJnANo {
    display: none;
  }

  section.vfrc-card.c-jUajGf {
    display: inline-flex;
    flex-direction: column;
    width: 400px; /* Muudetud laiust */
    border: 1px solid rgb(241, 241, 241);
    border-radius: var(--radii-2);
    box-sizing: content-box;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-right: 10vw;
  }

  .c-PJLV-jJkrMz-mode-overlay {
    width: 448px;
    margin-bottom: 6px;
  }

  .c-iCDrnV {
    margin-top: 8vh;
    background-color: #319AAD;
  }

  .vfrc-system-response.c-gSBsRr {
    position: relative;
  }

  .vfrc-system-response--list.c-iTxaCK {
    display: flex;
  }

  .c-PJLV-gzPGjf-mode-embedded {
    width: 100%;
    max-width: 512px;
    margin-bottom: 6vh;
    margin-left: 8vw;
    align-self: center;
  }

  .vfrc-avatar.c-kIbiaN {
    margin-bottom: 4vh;
  }

  .c-iTxaCK .c-gMpNkY:last-of-type {
    margin-bottom: 20px;
  }

  .c-gMpNkY {
    font-size: 16px;
  }

  .c-fHxDoY {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radii-round);
    transition: background-color 150ms ease 0s, box-shadow 150ms ease 0s, opacity 150ms ease 0s;
    height: 62px;
    width: 62px;
    cursor: pointer;
    background-color: var(--colors-white);
    color: var(--colors-black);
    box-shadow: 0 1px 3px 1px var(--shadows-shadow1), 0 0 0 1px var(--shadows-shadow3), 0 2px 4px -3px var(--shadows-shadow12), 0 5px 8px -8px var(--shadows-shadow12);
    border: none;
  }
}

@media (min-width: 1200px) {
  #flat-chat {
    width: 88vw;
  }

  div.vfrc-assistant-info.c-jJnANo {
    display: none;
  }

  section.vfrc-card.c-jUajGf {
    display: inline-flex;
    flex-direction: column;
    width: 400px; /* Muudetud laiust */
    border: 1px solid rgb(241, 241, 241);
    border-radius: var(--radii-2);
    box-sizing: content-box;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-right: 10vw;
  }

  .c-PJLV-jJkrMz-mode-overlay {
    width: 448px;
    margin-bottom: 6px;
  }

  .c-iCDrnV {
    margin-top: 8vh;
    background-color: #319AAD;
  }

  .vfrc-system-response.c-gSBsRr {
    position: relative;
  }

  .vfrc-system-response--list.c-iTxaCK {
    display: flex;
  }

  .c-PJLV-gzPGjf-mode-embedded {
    width: 100%;
    max-width: 512px;
    margin-bottom: 6vh;
    margin-left: 8vw;
    align-self: center;
  }

  .vfrc-avatar.c-kIbiaN {
    margin-bottom: 4vh;
  }

  .c-iTxaCK .c-gMpNkY:last-of-type {
    margin-bottom: 20px;
  }

  .c-gMpNkY {
    font-size: 16px;
  }

  .c-fHxDoY {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radii-round);
    transition: background-color 150ms ease 0s, box-shadow 150ms ease 0s, opacity 150ms ease 0s;
    height: 62px;
    width: 62px;
    cursor: pointer;
    background-color: var(--colors-white);
    color: var(--colors-black);
    box-shadow: 0 1px 3px 1px var(--shadows-shadow1), 0 0 0 1px var(--shadows-shadow3), 0 2px 4px -3px var(--shadows-shadow12), 0 5px 8px -8px var(--shadows-shadow12);
    border: none;
  }
}

/* Kohandatud CSS, mis muudab konteineri laiust */
div.vfrc-carousel.c-JFdmb section.vfrc-card.c-jUajGf {
  width: 400px;
}
